
.navbar { 
    background-color: darkorchid;
}

.quem-somos{
    background-color: dimgray;
}

.margin{
    padding-bottom: 50px;
    padding-top: 30px;
}

.parceiros{
    background-color: lightskyblue;
}

.bg-footer{
    background-color: black;
    color: wheat;
}